body {
  margin: 0;
  padding: 0;
  background: radial-gradient(
    157.07% 157.07% at 171.6% 173.4%,
    #ffffff 0%,
    #3e92ce 100%
  );
  font-family: "Poppins", sans-serif;
}

.game-play {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  height: 100vh;
  position: relative;
}
.memory-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40.187px;
  line-height: 40px;
  letter-spacing: 0.0882153px;
  color: #ffffff;
  margin-top: 20px;
}
.buttons {
  position: absolute;
  top: 10px;
  right: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.exit-button {
  background: #d4190c;
  border-radius: 8px;
  color: #ffffff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  cursor: pointer;
  width: 132px;
  height: 62px;
}
.restart-button {
  padding: 16px;
  background: #f4a236;
  border-radius: 8px;
  color: #ffffff;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: left;
  cursor: pointer;
  width: 172px;
  height: 62px;
}
.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 8px;
  border: 1px;
}
.grid {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 842px;
  height: 844px;
  background: linear-gradient(
    133.05deg,
    rgba(255, 255, 255, 0.6) 0.62%,
    rgba(255, 255, 255, 0.1) 102.4%
  );
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(84.6px, 1fr));
  gap: 10px;
  margin: 20px auto;
  padding: 10px;
}
.grid::before {
  content: "";
  grid-column: 1;
  grid-row: 1;
}

.grid::after {
  content: "";
  grid-column: 1 / -1;
  grid-row: -1;
}
.game-board {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.player1 {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: auto;
  margin-left: 20px;
}
.player2 {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-left: auto;
  margin-right: 20px;
}
